

<div class="header-box">
    
    <header class="header">
      <div class="header-left">
        
        <h1>Chess Academy</h1>
    
        
      </div>
      <div class="header-right">
        <nav>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/individual-lessons">Individual Lessons</a></li>
            <li><a routerLink="/group-lessons">Group Lessons</a></li>
            <li><a routerLink="/tournaments">Tournaments</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </div>

 