<div class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="box">
                <h2> Contact us</h2>
                <p> Address: 4821 Reading Rd # 23</p>
                <p> Chessacademy@gmail.com </p>
                <p> Phone: 956 1454-4565</p>
            </div>
            <div class="box">
                <h2> Quick Links</h2>
                <p> Hallooo</p>
            </div>
            <div class="box">
                <h2>Our Services</h2>
                <ul class="links">
                    <li> 
                        <a routerLink="/individual-lessons"> Individual Lessons</a>
                    </li>
                    <li> 
                        <a routerLink="/group-lessons"> Group Lessons</a>
                    </li>
                    <li> 
                        <a routerLink="/tournaments"> Chess Tournaments</a>
                    </li>
                </ul>
            </div>
            
    </div>

</div>
