
<div class="tournament-container">
<div class="tournament">
    <div class="section">
      <h2>USCF Rated In-Person Tournament</h2>
      <h3>PRIZES:</h3>
      <p>1400+ Section: $400, $150, $100</p>
      <p>U1400 Section: $150, $100, $50</p>
      <a routerLink="/login" class="button">Register Now</a>
      <a href="#" class="button">Learn More</a>
    </div>
    <div class="section">
        <h2>Online tournament on Lichess </h2>
        <p>1400+ Section: $400, $150, $100</p>
        <p>U1400 Section: $150, $100, $50</p>
        <a routerLink="/login"class="button">Register Now</a>
        <a href="#" class="button">Learn More</a>
      </div>
      <div class="section">
        <h2>Texas State Championship </h2>
        <h3> Prize Fund and sections</h3>
        <p>1400+ Section: $400, $150, $100</p>
        <p>U1400 Section: $150, $100, $50</p>
        <a routerLink="/login" class="button">Register Now</a>
        <a href="#" class="button">Learn More</a>
      </div>
  </div>
  

</div>