

<div class="home-container">
    <div class="home-header">
        <div class="image-header">
            <img  class="header-img"  src="assets/img/home2.jpg" alt="home" width="700" height="500">
            
        </div>
    </div>

    <div class="container">
        <div class="box">
            <img src="assets/img/small_logo1.png" alt="">
            <h2> Tournamnets</h2>
            <p>Challenge yourself and elevate your chess skills by participating in our USCF Rated Tournaments, curated for enthusiasts of all ages. Don't overlook the opportunity to engage in our valuable practice tournaments, both online and over the board! Tournaments offer crucial experiences that can ignite a lasting interest in the game. They provide valuable insights by uncovering your strengths and shortcomings, fostering continuous growth on your chess-playing journey.</p>
            <a routerLink="/tournaments"> Learn more</a>
        </div>
        <div class="box">
            <img src="assets/img/small_logo2.png" alt="">
            <h2> Group Lessons</h2>
            <p>Build a robust foundation for a comprehensive chess education, an essential step toward becoming an expert player. Through a careful assessment of your level, we can guarantee that you are part of a group of chess enthusiasts who are, just like you, eager to learn modern chess openings, middlegame strategies and master important endgames. They create a perfect environment for building friendships with people who love the game like you do.</p>
            <a routerLink="/group-lessons"> Learn more</a>
        </div>
        <div class="box">
            <img src="assets/img/small_logo3.png" alt="">
            <h2> Individual Lessons</h2>
            <p>Taking individual chess lessons from strong players is crucial for personalized growth and improvement. Through this tailored approach, you gain a deeper understanding of the material, receive personalized feedback to track your progress, and benefit from insights that help build self-regulation and motivation. Learning directly from experienced players guides you in the right direction, providing targeted support that addresses your specific strengths and areas for improvement</p>
            <a routerLink="/individual-lessons"> Learn more</a>
        </div>
        <div class="box">
            <img src="assets/img/small_logo4.png" alt="">
            <h2> Courses</h2>
            <p>Engaging in additional work, such as our video courses, group lesson recordings, lichess studies, and interactive exercises, is essential to solidify your understanding of the covered material. These resources serve as valuable supplements, ensuring that you stay on track and deepen your knowledge. The extra effort you put in enhances your skills, reinforces concepts, and fosters a more comprehensive grasp of the material, contributing to your overall growth as a chess player.</p>
            <a routerLink="courses"> Learn more</a>
        </div>
    </div>
</div>
